[Desktop Entry]
Encoding=UTF-8
SwallowExec=
SwallowTitle=
Name=KSpaceDuel
Name[x-test]=xxKSpaceDuelxx
MimeType=
Exec=kspaceduel -caption "%c"
GenericName=Space Arcade Game
GenericName[fr]=Jeu d'arcade dans l'espace
GenericName[ja]=宇宙アーケードゲーム
GenericName[x-test]=xxSpace Arcade Gamexx
Icon=kspaceduel
Path=
DocPath=kspaceduel/index.html
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
