[Desktop Entry]
SwallowExec=
SwallowTitle=
BinaryPattern=kspaceduel;
Name=KSpaceDuel
MimeType=
Exec=kspaceduel %i %m -caption "%c"
Comment=Arcade Game
Icon=kspaceduel
TerminalOptions=
Path=
DocPath=kspaceduel/index.html
Type=Application
Terminal=0
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
