<!DOCTYPE kpartgui>
<kpartgui name="kpovmodeler" version="4">
<MenuBar>
   <Menu name="game"><text>&amp;Game</text>
      <Action name="new_game" append="new_merge"/>
      <Action name="new_round" append="new_merge"/>
      <Action name="pause" append="misc_merge"/>
   </Menu>
   <Menu name="settings"><text>&amp;Settings</text>
      <Action name="options_player_keys"/>
      <Action name="options_game"/>
      <Action name="options_handicap"/>
      <Action name="options_graphics"/>
      <Action name="options_ai"/>
   </Menu>
</MenuBar>

<Toolbar name="mainToolBar"><text>Main Toolbar</text>
   <Action name="new_game"/>
   <Action name="new_round"/>
   <Action name="pause"/>
</Toolbar>
</kpartgui>
