[Desktop Entry]
Encoding=UTF-8
SwallowExec=
SwallowTitle=
Name=KSpaceDuel
Name[af]=K-ruimte-uitdaging
Name[ar]=لعبة مبارزة الفضاء (KSpaceDuel)
Name[bn]=কে-স্পেসডুয়েল
Name[eo]=Spacduelo
Name[hi]=के-स्पेसड्यूएल
Name[hr]=Svemirski dvoboj
Name[hu]=Űrpárbaj
Name[is]=Geimeinvígi
Name[lv]=KKosmiskaisDuelis
Name[nb]=Rom-duell
Name[nn]=Romduell
Name[pt_BR]=KDuelo Espacial
Name[ro]=Duel spaţial
Name[ru]=Космическая дуэль
Name[sv]=Kspaceduel
Name[ta]=Kஸ்பேஸ்டுயல்
Name[tg]=KМуҳорибаи Кайҳонӣ
Name[tr]=Uzay Düellosu
Name[xx]=xxKSpaceDuelxx
Name[zh_TW]=KSpaceDuel 決戰星空
Name[zu]=I-KSpaceDuel
MimeType=
Exec=kspaceduel %i %m -caption "%c"
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=لعبة أركيد
GenericName[be]=Аркадная гульня
GenericName[bg]=Аркадна игра
GenericName[bn]=আর্কেড (Arcade) জাতীয় খেলা
GenericName[bs]=Arkadna igra
GenericName[ca]=Joc arcade
GenericName[cs]=Arkádová hra
GenericName[cy]=Gêm Arcêd
GenericName[da]=Arkade-videospil
GenericName[de]=Arkade-Spiel
GenericName[el]=Arcade παιχνίδι
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade Jokoa
GenericName[fa]=بازی آرکید
GenericName[fi]=Arcade-peli
GenericName[fr]=Jeu d'arcade
GenericName[gl]=Xogo tipo Arcade
GenericName[he]=משחק Arcade
GenericName[hi]=आर्केड खेल
GenericName[hr]=Arkadna igra
GenericName[hu]=Ügyességi
GenericName[is]=Skotleikur - Loftsteinar
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[lo]=ເກມອາເຄດດ໌
GenericName[lv]=Arkādes Spēle
GenericName[mt]=Logħba tal-arcades
GenericName[nb]=Arkadespill
GenericName[nl]=Arcadespel
GenericName[nn]=Arkadespel
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]=Jogo de Arcade
GenericName[ro]=Un joc de aventuri
GenericName[ru]=Аркада
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sr]=Аркадна игра
GenericName[sr@Latn]=Arkadna igra
GenericName[ss]=Umdlalo we Arcade
GenericName[sv]=Arkadspel
GenericName[ta]=ஆர்கேட் விளையாட்டு
GenericName[tg]=Бозии Аркадавӣ
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Аркадна гра
GenericName[uz]=Аркада ўйини
GenericName[ven]=Mutambo wa Arcade
GenericName[wa]=Djeu d' årcåde
GenericName[xh]=Imidlalo yeArcade 
GenericName[xx]=xxArcade Gamexx
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=大型遊戲機遊戲
GenericName[zu]=Umdlalo we-Arcade
Icon=kspaceduel
Path=
DocPath=kspaceduel/index.html
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
